<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <label>学号</label>
        <input placeholder="输入文本"><br>
        <label>姓名</label>
        <input placeholder="输入文本"><br>
        <label>性别</label>
        <input type="radio" name="sex" value="male">男
        <input type="radio" name="sex" value="female">女<br>
        <label>专业</label>
        <select name="cars">
            <option value="volvo">下拉列表框</option>
        </select><br>
        <label>爱好</label>
        <input type="checkbox" name="vehicle">音乐
        <input type="checkbox" name="vehicle">美术
        <input type="checkbox" name="vehicle">运动
        <input type="checkbox" name="vehicle">书法
        <input type="checkbox" name="vehicle">舞蹈
        <input type="checkbox" name="vehicle">阅读<br><br>
        <input type="submit" value="提交">
        <input type="reset" value="重置">
    </form>
</body>
</html>